* {
  box-sizing: border-box;
  --bs: 0 0 0.4em rgb(208, 208, 208);
}
h1 {
  text-align: center;
}
form {
  border: 1px #fff solid;
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: var(--bs);
}
.app {
  max-width: 1400px;
  margin: 0 auto;
}
.field-row {
  display: flex;
  justify-content: space-between;
}
.field-row > button {
  flex-basis: 5%;
  align-self: flex-start;
}

.code,
.form-state {
  border-radius: 0.3em;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  box-shadow: var(--bs);
}
@media screen and (min-width: 768px) {
  .divider {
    display: none;
  }
  .form {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
